.App {
  text-align: center;
}

.player-card {
  width: 300px;
  border: 3px solid black;
  margin: 10px 5px;
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.pagination{
  display:flex;
  list-style: none;
  justify-content: center;
}

.pagination li{
  margin: 0 10px;
}
